{% load static %}  
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>
        {% block title %}Mac Assistive Devices{% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <link rel="stylesheet" type="text/css" href="{% static 'macapp/css/bootstrap.css' %}" />  <link rel="stylesheet" type="text/css" href="{% static 'macapp/css/style.css' %}" />  <link rel="stylesheet" type="text/css" href="{% static 'macapp/css/responsive.css' %}" />  {% block head %}
    {% endblock %}
</head>

<body>
    <div class="hero_area">
        <header class="header_section">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{% url 'homepage' %}">  <span>
                        Mac Assistive Devices
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item {% if request.path == '/' %}active{% endif %}"> <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% if request.path == '/shop/' %}active{% endif %}"> <a class="nav-link" href="{% url 'shopping' %}">Shop</a>
                        </li>
                        <li class="nav-item {% if request.path == '/about/' %}active{% endif %}"> <a class="nav-link" href="{% url 'about' %}">About Us</a>
                        </li>
                        <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}"> <a class="nav-link" href="">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block content %}
        {% endblock %}

    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Explore</h3>
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'shopping' %}">Shopping</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contact Us</h3>
                <p><a href="mailto:info@assistivedevices.com">Email: info@assistivedevices.com</a></p>
                <p><a href="tel:+254711811011">Phone: +254 711 811011</a></p>
                <p><a href="https://maps.google.com/?q=123+Main+Street,+Anytown" target="_blank" rel="noopener noreferrer">Address: 123 Main Street, Anytown</a></p>
    
            </div>
            <div class="footer-section">
                <h3>Let's Connect</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy;<a class="navbar-brand" href="{% url 'homepage' %}">2025 MAC Assistive Devices</a>. All rights reserved.</p>
            
        </div>
    </footer>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>